<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.maydow.weather-pro</string>
	<key>CFBundleName</key>
	<string>Weather Pro</string>
	<key>CFBundleDisplayName</key>
	<string>Weather Pro</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleExecutable</key>
	<string>weather-pro</string>
	<key>LeahPluginSchemaVersion</key>
	<integer>1</integer>
	<key>LeahPluginManifest</key>
	<string>manifest.json</string>
</dict>
</plist>
